# ==========================================
# Rellenador EX-17
# Java + Maven + NetBeans
# ==========================================

# Maven / compilación
target/
build/
dist/
installer/

# Java
*.class
*.jar
*.war
*.ear

# Ejecutables e instaladores
*.exe
*.msi

# Paquetes de distribución
*.rar
*.zip

# NetBeans
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

# Otros IDE
.idea/
*.iml
.vscode/

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Logs y temporales
*.log
*.tmp
*.temp
*~

# PDFs generados por la aplicación
EX17_*.pdf
# Temporales de instalador
wix-temp/
installer-temp/
installer-tools/output/
installer-tools/input/
installer-tools/icon-temp/
dist/

# Binarios generados
installer/*.exe
